.mat-tab-links {
  align-items: center;
}

.nav-panel {
  display: flex;
  align-items: center;
  .slider-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1%;
  }
}
